ENVIRONMENT="development"
API_PREFIX = "/api/v1"
PORT=8002

DATABASE_URI="mongodb://<username>:<password>@127.0.0.1:27017/<db>?authSource=admin&retryWrites=true&w=majority"
GROQ_API_KEY="gsk_xxxxxxxxxxxxxxxxxxxxxxxxx"
INTERNAL_API_KEY="generate using openssl rand -hex 24"
ALLOW_LOCAL_ORIGINS="true/false"

VITE_API_URL="http://localhost:8002/"
VITE_API_PREFIX="api"

#for production
AWS_ARN="arn:aws:iam::012345678901:user/<whoever>"
AWS_ACCESS_KEY_ID="<access-key>"
AWS_SECRET_ACCESS_KEY="<secret>"
AWS_REGION="<region>"
AWS_BUCKET_NAME="<bucket-name>"
AWS_BUCKET_URL="<bucket-name>.s3.<region>.amazonaws.com"
AWS_PUBLIC_URL="https://assets.threadzip.com"

# cloudflare R2
R2_ACCESS_KEY_ID="<access-key>"
R2_SECRET_ACCESS_KEY="<secret>"
R2_ACCOUNT_ID="<account-id>"
R2_BUCKET_NAME="<bucket-name>"
R2_ENDPOINT="https://<account-id>.r2.cloudflarestorage.com"
R2_PUBLIC_CDN="https://assets.threadzip.com"
R2_REGION="auto"