ENVIRONMENT="local"
API_PREFIX = "/api/v1"
PORT=8002
DATABASE_URI="mongodb://<username>:<password>@127.0.0.1:27017/<db>?authSource=admin&retryWrites=true&w=majority"
GROQ_API_KEY="gsk_xxxxxxxxxxxxxxxxxxxxxxxxx"
INTERNAL_API_KEY="run > openssl rand -hex 24"

#for production
AWS_ARN="arn:aws:iam::012345678901:user/<whoever>"
AWS_ACCESS_KEY_ID="****"
AWS_SECRET_ACCESS_KEY="***"
AWS_REGION="ap-south-1"
AWS_BUCKET_NAME="bucket-name"
AWS_PUBLIC_URL="https://cdn.example.com"