.description-wrapper {
  width: 55%;
}

.description-wrapper .nav-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.description-wrapper .nav-btn {
  background: #5842742d;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.description-wrapper .nav-btn.disabled {
  background: #cccccc75;
  cursor: not-allowed;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.description-wrapper .description-box {
  animation: fadeSlideIn 1s ease-out forwards;
  transition: opacity 0.3s ease-in-out;
  background: rgba(99, 94, 94, 0.51);
  border: 1px solid rgba(255, 255, 255, 0.71);
  padding: 18px;
  border-radius: 10px;
  font-size: 18px;
  height: 155px;
  color: #ffffff;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.description-wrapper .description-content {
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.description-wrapper .loader-wrapper {
  text-align: center;
}

.description-wrapper .description-box.error {
  background: rgba(99, 94, 94, 0.51);
  border: 1px solid rgba(255, 255, 255, 0.71);
  animation: fadeSlideIn 1s ease-out forwards;
  transition: opacity 0.3s ease-in-out;
}

.description-wrapper .error-text {
  color: #ff4d4f;
  font-weight: 600;
  font-size: 19px;
}

.description-wrapper .response-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-size: 16px;
  color: #000000ff;
  font-weight: 600;
}

.description-wrapper .copy-btn {
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
  border-radius: 5px;
  transition: background 0.2s ease;
}

.description-wrapper .copy-btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
}